@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 100;*/
/*        src: url(./resources/fonts/Archivo/Thin.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 200;*/
/*        src: url(./resources/fonts/Archivo/ExtraLight.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 300;*/
/*        src: url(./resources/fonts/Archivo/Light.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 400;*/
/*        src: url(./resources/fonts/Archivo/Regular.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 500;*/
/*        src: url(./resources/fonts/Archivo/Medium.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 600;*/
/*        src: url(./resources/fonts/Archivo/SemiBold.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 700;*/
/*        src: url(./resources/fonts/Archivo/Bold.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 800;*/
/*        src: url(./resources/fonts/Archivo/ExtraBold.ttf) format("ttf");*/
/*    }*/
/*    @font-face {*/
/*        font-family: Archivo;*/
/*        font-weight: 900;*/
/*        src: url(./resources/fonts/Archivo/Black.ttf) format("ttf");*/
/*    }*/
/*}*/


/* For hiding stepper in input forms. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.pulse-animation {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}